@import url("https://fonts.cdnfonts.com/css/romie-trial");
@import "tailwindcss";


@theme {
  --color-beige: #f6f0e9;
  --color-bg-black: #1e1e1e;
  --color-blue-black: #03041d;
  --color-bright-grey: #f7f5f1;
  --color-light-grey: #f0ebe3;
  --color-medium-grey: #bdbbb8;
  --color-dark-grey: #6e6d6b;
  --color-medium-pink: #b6276b;
  --color-pink: #e686b4;
  --color-medium-green: #108496;

  --font-romie: "Playfair Display", serif;
  --font-haas: "Inter", sans-serif;
  --font-mono: "Space Mono", monospace;

  --animate-marquee: marquee 30s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}

:root {
  --beige: #f6f0e9;
}

html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: var(--beige);
  color: #0d0d0d;
}

h1,
h3 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 400;
}

h2 {
  font-family: "Romie Trial", "Times New Roman", sans-serif;
  font-size: 2.8125rem;
  line-height: 1.15em;
  letter-spacing: -0.02em;
  font-weight: 400;
  margin: 0;
}

.font-feature-ss09 {
  font-feature-settings: "ss09";
}

@layer components {
  .btn-primary {
    @apply bg-medium-green text-bright-grey border border-black shadow-[3px_3px_0_0_#0d0d0d] px-[3.375rem] py-[0.5rem] uppercase tracking-[0.09em] font-medium transition-all duration-300;
  }

  .btn-primary:hover {
    @apply bg-[#0d6a78] shadow-[1px_1px_0_0_#0d0d0d];
  }

  .container-large {
    @apply max-w-[85.5rem] mx-auto w-full px-[2.5rem];
  }

  .text-style-italic {
    font-feature-settings: "ss09";
    font-style: italic;
    font-weight: 500;
  }

  .stroke-shadow:hover {
    box-shadow: 6px 6px 0 0 #0d0d0d;
  }



  .card_item {
    @apply hover:border hover:border-[#0d0d0d] hover:bg-white p-10 flex flex-col cursor-pointer h-full transition-all duration-300;
  }

  .card_icon {
    @apply w-20 h-20 mb-8;
  }

  .acountable_bg-line {
    z-index: 1;
    pointer-events: none;
    width: 100%;
    height: 6.75rem;
    margin-top: -3.5rem;
    position: relative;
  }

  .w-embed:before,
  .w-embed:after {
    content: " ";
    grid-area: 1/1/2/2;
    display: table
  }

  .w-embed:after {
    clear: both
  }

  .eyes._01 {
    top: 3rem;
    left: 4.875rem;
  }

  .eyes {
    width: 3.375rem;
    display: flex;
    position: absolute;
    inset: 0% auto auto 0%;
    transform: rotate(-15deg);
  }


}
